body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
  }
  
  .back1{
    background-image: url(" ../css/images/back1.jpg");
    /*height: 20rem;*/
    /* width:99.5%; */
    /*margin-top: 0.05%;*/
    margin-left: auto;
    margin-right: auto;
    height:85vh;
    width: 100%; 
    position: absolute;
    background-size: cover;
  /*  margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 2rem;*/
  }
  
  
  .content1{
    text-align: center; 
    padding: 2rem;
    margin-top: 20rem;
    font-family: 'Open Sans', sans-serif;
    /*padding-top: 5rem;*/
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #title1{
    margin-left: 10rem;
  }
  
  .colored {
    background-color: #041E37;
    /* background-color: #C0CAAD; */
    /* color: #fff; */
    color: #3F236E;
    margin-bottom: -4rem;
    padding-left: 2rem;
  }
  .personal{
    text-align: left;
  }
  .header1{
    font-size: 2rem;
    display: block;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: #041E37;
    padding: 1.5rem;
    /*margin-bottom: 1.2rem;*/
    /*padding: 0rem 2rem 2rem 0rem;*/
  }
  
  .orderblock{
    display: block;
    text-align: left;
    margin: 1.2rem;
    background-color: #ffead5;
    font-family: 'Roboto', sans-serif;
  }
  .title-font {
    color: #728CA6 !important;
  }
  
  .white {
    background-color: #fff;
  }
  
  .container-fluid {
    padding: 7% 15%;
  }
  
  .navbar {
    padding: 1rem 0 3rem;
    margin-bottom: 2rem;

  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  
  .navbar-brand {
    /*font-family: "Ubuntu";*/
    font-family: 'Arvo', serif;

    font-size: 2.5rem;
  }
  
  /* title section */
  
  .main-title {
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: left;
  }
  
  #title .colored {
    padding: 3% 15% 7%;
  }
  
  .download-btn {
    margin: 5% 3% 5% 0;
  }
  
  .title-emoji {
    width: 100%;
    position: relative;
    /* left: 20%; */
    /* border-radius: 50%; */
    /* transform: rotate(25deg); */
  }
  
  .title-text {
    padding-top: 40px;
  }
  
  @media (max-width: 991px) {
    .title-img {
      position: static;
      transform: rotate(0);
    }
  
  }
  
  
  
  #footer {
    /*padding-bottom: 1rem;*/
    /*padding-top: -100px;*/
    /*margin-top: -50px;*/
    background-color: #041E37;
    /*margin-top: 4rem;*/
    bottom: 0;
    /*position:absolute;*/
    /*bottom:0;*/
    position: relative;
    display: block;
    width: 100%;
  }
  
  .footer-icon {
    padding: 2rem 10px 10px ;
  }
  
  .footer-text {
    color: #728CA6;
    /*margin-bottom: -5px;*/
    padding: 1.2%;
    margin-bottom: 0px;
    /*bottom:0px;*/
  }