body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
  }
  
  h1,h2,h3,h4,h5,h6 {
    font-family: 'Montserrat', sans-serif;
  }
  

  .personal{
  text-align: left;
}
  
  .content1{
    text-align: center; 
    padding: 2rem;
    margin-top: 2rem;
    font-family: 'Open Sans', sans-serif;
    margin-left: 2rem;
    margin-right: 2rem;
  }
  #title1{
    margin-left: 10rem;
  }
  
  .colored {
    background-color: #041E37;
    color: #3F236E;
    margin-bottom: -4rem;
    padding-left: 2rem;
  }
  .personal{
    text-align: left;
  }
  .header1{
    font-size: 2rem;
    display: block;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    background-color: #041E37;
    color: #728CA6;
    padding: 1.5rem;
  }
  
  .title-font {
    color: #728CA6 !important;
  }
  
  .white {
    background-color: #fff;
  }
  
  .container-fluid {
    padding: 7% 15%;
  }
  
  .navbar {
    padding: 1rem 0 3rem;
    margin-bottom: 2rem;
  
  }
  
  .nav-item {
    padding: 0 18px;
  }
  
  .nav-link {
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
  }
  
  .navbar-brand {
    font-family: 'Arvo', serif;
  
    font-size: 2.5rem;
  }
  
  /* title section */
  
  .main-title {
    font-size: 3.2rem;
    line-height: 1.5;
    font-weight: 900;
    text-align: left;
  }
  
  #title .colored {
    padding: 3% 15% 7%;
  }
  
  .download-btn {
    margin: 5% 3% 5% 0;
  }
  
  .title-emoji {
    width: 100%;
    position: relative;
  }
  
  .title-text {
    padding-top: 40px;
  }
  
  @media (max-width: 991px) {
    .title-img {
      position: static;
      transform: rotate(0);
    }
  
  }
  
  
  
  #footer {

    background-color: #041E37;
    bottom: 0;
    position: relative;
    display: block;
    margin-top: 2rem;
    width: 100%;
  }
  
  .footer-icon {
    padding: 2rem 10px 10px ;
  }
  
  .footer-text {
    color: #728CA6;
    padding: 1.2%;
    margin-bottom: 0px;
  }